---
import { Container, ThreeColumnTextSection, Button } from '@littlesticks/odyssey-theme-components';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';

import {CtaCardSection} from '@littlesticks/odyssey-theme-components';
import {Icon} from "astro-icon";
---

<Layout>
	<HomeHeroSection />
	<Container>
		<ThreeColumnTextSection>
			<div slot="column-1-body">
				<h2>Gebäudereinigung</h2>
				<p>
					Sauberkeit und Hygiene für Ihr Gebäude – Wir sorgen für ein gepflegtes und gesundes Umfeld.
				</p>
			</div>
			<Button slot="column-1-cta" href="/company/services">Learn More</Button>
			<div slot="column-2-body">
				<h2>Hausmeisterservice</h2>
				<p>
					Professioneller Hausmeisterservice – Wir kümmern uns um alle Belange rund um Ihr Gebäude.
				</p>
			</div>
			<Button slot="column-2-cta" outlined>Learn More</Button>
			<div slot="column-3-body">
				<h2>Umzugs- und Entrümpelungsservice</h2>
				<p>
					Reibungsloser Umzugs- und Entrümpelungsservice – Wir übernehmen alle Aufgaben, damit Sie stressfrei in Ihr neues Kapitel starten können.
				</p>
			</div>
			<Button slot="column-3-cta">Learn More</Button>
		</ThreeColumnTextSection>

		<CtaCardSection background="var(--theme-surface-2)" color="var(--theme-on-surface-2)">
			<h2>Start Your Website Today</h2>
			<p>It only takes a couple clicks to have a new, modern website for your business or startup.</p>
			<Button href="/theme/get-started" customIcon>Get Started <Fragment slot="icon">
				<Icon name="ic:baseline-chevron-right"/>
			</Fragment></Button>
		</CtaCardSection>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>