---
import { Container, ThreeColumnTextSection, Button } from '@littlesticks/odyssey-theme-components';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';

import {CtaCardSection} from '@littlesticks/odyssey-theme-components';
import {Icon} from "astro-icon";
---

<Layout>
	<HomeHeroSection />
	<Container>
		<ThreeColumnTextSection>
			<div slot="column-1-body">
				<h3>Gebäudereinigung</h3>
				<p>
					Sauberkeit und Hygiene für Ihr Gebäude – Wir sorgen für ein gepflegtes und gesundes Umfeld.
				</p>
			</div>
			<div slot="column-2-body">
				<h3>Hausmeisterservice</h3>
				<p>
					Professioneller Hausmeisterservice – Wir kümmern uns um alle Belange rund um Ihr Gebäude.
				</p>
			</div>
			<div slot="column-3-body">
				<h3>Umzugs- und Entrümpelungsservice</h3>
				<p>
					Reibungsloser Umzugs- und Entrümpelungsservice – Wir übernehmen alle Aufgaben, damit Sie stressfrei in Ihr neues Kapitel starten können.
				</p>
			</div>
		</ThreeColumnTextSection>

		<CtaCardSection background="var(--theme-surface-2)" color="var(--theme-on-surface-2)">
			<h2>Unsere vielfältigen Service im Überblick</h2>
			<p>Erleben Sie hautnah unsere Hingabe zur Exzellenz und lassen Sie sich von der herausragenden Qualität unserer Leistungen beeindrucken.</p>
			<Button href="/company/services.astro" customIcon>Weitere Informationen<Fragment slot="icon">
				<Icon name="ic:baseline-chevron-right"/>
			</Fragment></Button>
		</CtaCardSection>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>