---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'Über uns',
	description: 'Ganz-Klar Gebäudeservice - Ihre Experten für makellose Sauberkeit. Professionelle Reinigung, Flexibilität, Zuverlässigkeit und Kundenzufriedenheit stehen im Fokus unserer Arbeit. Kontaktieren Sie uns für erstklassigen Service und eine einladende Umgebung!',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h2>Über uns</h2>
			<p>
				<h3>Ihr Reinigungspartner für perfekte Sauberkeit!</h3>
        Wir sind eine neu gegründete Gebäudereinigung und spezialisiert auf professionelle Reinigungsdienstleistungen. 
        Mit Leidenschaft für Sauberkeit und einem engagierten Team garantieren wir höchste Qualität und gründliche Reinigungsergebnisse.
			</p>
      <p>Unser Ziel ist es, Ihr Gebäude in einen makellosen Zustand zu versetzen und Ihnen ein frisches und einladendes Ambiente zu bieten. 
        Mit modernster Ausrüstung und umweltfreundlichen Reinigungsmitteln erzielen wir optimale Ergebnisse. 
      </p>
      <p>Flexibilität und Zuverlässigkeit stehen bei uns an erster Stelle. Wir passen uns Ihren individuellen Anforderungen an und gewährleisten eine termingerechte Ausführung. 
        Vertrauen Sie auf unsere Expertise und lassen Sie uns gemeinsam für perfekte Sauberkeit sorgen.
      </p>
      <p>Kontaktieren Sie uns noch heute, um mehr über unsere maßgeschneiderten Reinigungslösungen zu erfahren. 
        Wir freuen uns darauf, Ihnen einen erstklassigen Reinigungsservice zu bieten!
      </p>
		</div>
      <picture slot="image-container">
              <img
              src="/assets/images/ganz-klar-logo.jpg"
              alt="Astro Odyssee"
              id="home-hero-image"
              />
        </picture> 
	</HeroSection>
  <TextSection narrow>
      <h2>Wofür stehen wir?</h2>
    <p>
      <ul>
        <li style="font-weight: bold">Qualität: Höchste Ansprüche an unsere Arbeit und Garantierte hohe Qualität unserer Dienstleistungen</li>
        <li style="font-weight: bold">Flexibilität: Anpassungsfähigkeit an Ihre individuellen Anforderungen. </li>
        <li style="font-weight: bold">Zuverlässigkeit: Termintreue und transparente Kommunikation für eine vertrauensvolle Partnerschaft.</li>
        <li style="font-weight: bold">Kundenzufriedenheit: Ihr Erfolg und Ihre Zufriedenheit sind unser Ziel. </li>
      </ul>
    </p>
    
    <p>
      Als Ganz-Klar Gebäudeservice verpflichten wir uns, diese Werte in jeder unserer Tätigkeiten zu leben und Ihnen ein exzellentes Kundenerlebnis zu bieten. 
    </p>
  </TextSection>
</Layout>
