---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';

const seo = {
  title: 'Impressum',
  description: 'Sorgfältig zusammengestelltes Impressum: Hier finden Sie die rechtlichen Angaben und Kontaktdetails von Ganz-Klar Gebäudeservice für erstklassige Reinigungsdienstleistungen und hervorragenden Kundenservice',
};
---

<Layout seo={seo}>
    <TextSection narrow>
            <h2>Impressum</h2>
            <p>
            <h3>Angaben gemäß § 5 TMG:</h3>
            Ganz-Klar Gebäudeservice<br />
            Tylerstr. 9<br />
            86156 Augsburg
            </p>

            <h3>Vertreten durch:</h3>
            <p>Frau Gonca Keskin</p>

            <h3>Kontakt:</h3>
            <p>
            Telefon: 0152 58431495<br />
            E-Mail: info@ganzklar-gebaeudeservice.de
            </p>

            <h3>Streitschlichtung:</h3>
            <p>
            Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit 
            http://ec.europa.eu/consumers/odr
            </p>
            <p>
            Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
            </p>
    </TextSection>
</Layout>