---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';

const seo = {
  title: `Legal Page | Astro Odyssey Theme`,
  description: `This is the legal page template. It is a great starter for your company's Terms of Service, Terms & Conditions, Privacy Policy, etc.`,
};
---

<Layout seo={seo}>
  <TextSection narrow>

 <h1>In Bearbeitung</h1>
    

    
     
  </TextSection>
</Layout>