---
import Layout from '../../layouts/Page.astro';
import { Container } from '@littlesticks/odyssey-theme-components';
import {
    StickyTextImageSection,
} from '@littlesticks/odyssey-theme-components';

import { Icon} from "astro-icon";

const seo = {
  title: `Services`,
  description: `Entdecken Sie unser breites Leistungsspektrum für Gebäudereinigung und mehr. Von Grundreinigung bis Treppenhausreinigung, Glas- und Baureinigung bieten wir professionelle Services für Sauberkeit und Hygiene. Unser zuverlässiger Hausmeisterservice sowie Umzugs- und Entrümpelungsservice runden unser Angebot ab. Vertrauen Sie auf unsere Expertise für ein makelloses Umfeld.`,
};
---

<Layout seo={seo}>
	<Container>

        <StickyTextImageSection>
            <div slot="text-container">
              <h1>Unsere Leistungen</h1>
                <p>Wir bieten eine Vielzahl von Dienstleistungen an. Wir reinigen alles nach den neuesten Verfahren und hygienischen Erkenntnissen.
                  Bei Interesse kann der Leistungsumfang den jeweiligen Bedürfnissen und Ansprüchen des Kunden / Auftraggebers angepasst werden.
                </p>
              <h3>Grundreinigung</h3>
                <p>
                  Für strahlend saubere Räumlichkeiten!
                </p>
                <p>Als Reinigungsfirma gehört die Grundreinigung mit zu unserem umfassenden Angebots in der Gebäudereinigung. 
                  Wir bieten diese Reinigungsdienste für alle Arten von Gebäuden an, einschließlich Büros, Wohngebäude, Einzelhandel und Industrieanlagen. 
                  Unsere erfahrenen Reinigungskräfte sorgen auch bei hartnäckigen Verschmutzungen dafür, dass Ihr Gebäude immer sauber und gepflegt aussieht.
                </p>
            <picture slot="image-container">
              <img
              src="/assets/images/grundreinigung.jpg"
              alt="Astro Odyssee"
              id="home-hero-image"
              />
            </picture>
              <h3>Unterhaltsreinigung</h3>
                <p>
                Bei der Unterhaltsreinigung kümmern wir uns in regelmäßigen Abständen um die Sauberkeit und Hygiene der Räumlichkeiten. 
                Wir schaffen mit der professionellen Oberflächenreinigung für alle Arten von Gebäuden und unabhängig von der Nutzung, ein ordentliches und hygienisches Umfeld. 
                Unsere zuverlässigen Reinigungskräfte arbeiten effizient und gründlich, um Ihnen ein optimales Ergebnis zu liefern..
                </p>
            <picture slot="image-container">
              <img
              src="/assets/images/Reinigung.jpg"
              alt="Astro Odyssee"
              id="home-hero-image"
              />
            </picture>
              <h3>Glasreinigung</h3>
                <p>
                  Klarer Durchblick für Ihre Fenster!
                </p>
                <p>Unsere professionelle Glasreinigung sorgt für streifenfreie Sauberkeit Ihrer Glasflächen. Mit speziellen Reinigungsmitteln und Techniken entfernen wir effektiv Schmutz, Fingerabdrücke und Verschmutzungen von Fenstern, Spiegeln und anderen Glasoberflächen.
                  Reinigung von:
                  <ul>
                    <li style="font-weight: bold">Glasflächen</li>
                    <li style="font-weight: bold">Fensterrahmen und Beleuchtungskästen</li>
                    <li style="font-weight: bold">Sonnenschutzvorrichtungen</li>
                    <li style="font-weight: bold">Außenwerbeflächen</li>
                    <li style="font-weight: bold">Solar- und Fotovoltaikanlagen</li>
                  </ul>
                </p>

            <picture slot="image-container">
              <img
              src="/assets/images/glasreinigung.jpg"
              alt="Astro Odyssee"
              id="home-hero-image"
              />
            </picture>
            
              <h3>Treppenhausreinigung</h3>
                <p>
                  Sauberkeit von oben bis unten!
                </p>
                <p>Unsere professionelle Treppenhausreinigung sorgt für ein sauberes und gepflegtes Treppenhaus. 
                  Wir reinigen gründlich alle Treppenstufen, Handläufe, Geländer und Böden, um Schmutz, Staub und Verschmutzungen zu beseitigen. 
                  Mit unserer zuverlässigen Reinigungsdienstleistung schaffen wir eine angenehme Umgebung und einen positiven ersten Eindruck. 
                </p>
                <picture slot="image-container">
                  <img
                  src="/assets/images/unterhaltsreinigung.jpg"
                  alt="treppenhaus"
                  id="home-hero-image"
                  />
                </picture>
              <h3>Baureinigung</h3>
                <p>
                  Sauberer Abschluss für Ihr Bauprojekt!
                </p>
                <p>Unsere professionelle Bauendreinigung kümmert sich um den letzten Schliff nach Abschluss Ihres Bauprojekts. 
                  Wir beseitigen effizient Staub, Schmutz und Baureste, um Ihr Gebäude sauber und einladend zu machen. 
                  Unsere erfahrenen Reinigungskräfte verwenden die richtigen Reinigungsmittel und Techniken, um alle Oberflächen von Verschmutzungen zu befreien.</p>
                <p>Leistungen im Überblick:
                  <ul>
                    <li style="font-weight: bold">Erstellung eines Einsatzplanes</li>
                    <li style="font-weight: bold">Beseitigung von Schutzfolien, Etiketten, Markierungen</li>
                    <li style="font-weight: bold">Pflege neu verlegter Böden</li>
                    <li style="font-weight: bold">Bau-Feinreinigung zur Objektübergabe</li>
                  </ul>
                </p>
                <picture slot="image-container">
                  <img width="300px"
                  src="/assets/images/baureinigung.jpg"
                  alt="baureinigung"
                  id="home-hero-image"
                  />
                </picture>
              <h3>Hausmeisterservice</h3>
                <p>
                  Wir sind Ihr zuverlässiger Partner für professionelle Hausmeisterdienstleistungen. 
                  Von der technischen Anlagenbetreuung über die Gebäudereinigung bis zur Außenpflege – wir sorgen dafür, dass Ihr Objekt immer in bestem Zustand ist.
                </p>
                <p>Unser qualifiziertes Team kümmert sich um Inspektionen, Reparaturen und regelmäßige Wartung Ihrer Anlagen. 
                  Zudem sorgen wir für Sauberkeit in den Gemeinschaftsbereichen und pflegen Ihre Außenanlagen.
                </p>
                <p>Vertrauen Sie auf unsere Erfahrung und unseren engagierten Service.</p>

              <h3>Umzugs- und Entrümpelungsservice</h3>
                <p>
                  Unser Umzugsservice bietet Ihnen eine umfassende Unterstützung bei Ihrem Umzug. 
                  Von der sorgfältigen Verpackung Ihrer Habseligkeiten über den sicheren Transport bis hin zum Auspacken am Zielort – 
                  wir kümmern uns um jedes Detail, damit Sie sich auf einen neuen Anfang konzentrieren können.Velit.
                </p>
                <p>Für Entrümpelungen stehen wir Ihnen zur Seite, um Platz in Ihrem Zuhause oder Büro zu schaffen. 
                  Unser Team übernimmt das schnelle und effektive Entfernen von unerwünschten Gegenständen und sorgt für eine umweltgerechte Entsorgung oder Wiederverwertung.
                </p>
            </div>
          </StickyTextImageSection>
        
    
	</Container>
</Layout>
