---
---

<div class="odyssey-logo">
	<img width="110px" src="assets/images/ganz-klar-logo-only.png" alt="ganz-klar-logo"/>
	Ganz-Klar Gebäudeservice
</div>

<style>
	.odyssey-logo {
		display: flex;
		align-items: center;
		gap: 30px;
		margin: 0;
		font-family: var(--theme-font-family-serif);
    font-size: var(--font-size-md);
		color: inherit;
	}
	.odyssey-logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}
</style>
